// Pastel Blue
$picton: #22A7F0;
$hummingbird: #C5EFF7;
$madison: #2C3E50;

body {
    padding: 0;
    margin: 0;
}
body.cv {
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    > div.aligned {
        background-color: #22A7F0;
        color: white;
        width: 500px;
        text-align: center;
        padding: 1em 2em 2em 2em;
        margin: auto;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $hummingbird;
    &:hover {
        color: white;
    }
}
h1, h2 {
    font-weight: 100;
}
h1 {
    color: $madison;
    margin-bottom: 0;
}

.aligned {
    width: 900px;
    margin: auto;
}
#header {
    margin-top: 1em;
    margin-bottom: 2em;
    color: $picton;
}
#content {
    background-color: $picton;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
    > div {
        padding: 1em;
        .right-image {
            display: none;
            float: right;
            max-width: 50%;
        }
        .box {
            vertical-align: top;
            ul li {
                .description {
                    display: none;
                }
                .close {
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 1000px) {
    #content > div.aligned .right-image {
        display: block;
    }
}
