---
---

$text-color: #444;
$grey-color: lighten($text-color, 10%);
// $grey-color-light: $grey-color;

@import "minima";

$background-color: #eee;
$header-color: #111;
$link-color: #d32f2f;
$hover-color: #673ab7;

// Override Minima
.site-footer {
    border-top: none;
}
.site-header {
    border-bottom: none;
    border-top-color: $link-color;
}
// General CSS
body {
    padding: 0;
    margin: 0;
    background-color: $background-color;
    color: $text-color;
    h1, h2, h3, h4, a.site-title, a.page-link, a.site-title:visited, a.page-link:visited {
        color: #111;
        font-weight: bolder;
        margin-bottom: 0;
        font-family: monospace;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: $link-color;
        &:hover {
            color: $hover-color;
        }
        &:visited {
            color: $hover-color;
        }
    }
    div.post-content.e-content {
        &> p:first-child {
            color: $grey-color;
            font-style: italic;
        }
        h2 {
            font-size: 1em;
        }
    }
}

// Cookies
#cookie-consent {
    position: fixed;
    bottom: 0;
    color: $background-color;
    &.show {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background-color: $text-color;
        width: 100%;
        .wrapper {
            display: block;
        }
        img.cookie {
            display: none;
        }
    }
    .wrapper {
        display: none;
        a {
            color: $background-color;
                font-weight: bolder;
            &.response {
                float: right;
                margin-left: 1em;
            }
        }
    }
    img.cookie {
        width: 2em;
    }
}

// Make overflown mathjax equations scrollable
span.mjx-chtml.MJXc-display {
    overflow-x: auto;
    overflow-y: hidden;
}

// Utilities
div.horizontal-scroll {
    overflow-x: auto;
}

.hidden {
    display: none !important;
}

.link-description {
    display: block;
    font-style: normal;
}
